.progress {
  height: 35px;

}
.progress .skill {
  font: normal 12px;
  line-height: 35px;
  color: black;
  padding: 0;
  margin: 0 0 0 20px;
  text-transform: uppercase;
}
.progress .skill .val {
  float: right;
  font-style: normal;
  margin: 0 20px 0 0;
}

.progress-bar {
  text-align: left;
  transition-duration: 3s;
  color: black;
}
